<ons-page ng-controller="CalendarController">

    <div id="calendar">
        <h1>{{currentMonth}}</h1>

        <ons-list class="calendar" modifier="inset">
            <ons-list-item class="calendar-item" modifier="tappable">
                <ons-row class="calendar-row" ng-repeat="calendarRow in calendarRows">
                    <ons-col class="calendar-cell" ng-click="calendarItemClick(this)" ng-repeat="calendarCell in calendarRow">
                        <div class="calendar-image" style="background: url({{calendarCell.imageURI}})">
                            <div class="calendar-date-overlay">
                                {{calendarCell.date}}
                            </div>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>

    <div id="calendar-day" class="hidden">
        <a class="calendar-back" ng-click="backToCalendar(this)">Back</a>

        <div id="calendar-day-heading"></div>

        <ons-list id="calendar-day-list" class="day" modifier="inset">
            <!-- this is actually all being overwritten in JS because i don't know how updating works -->
            <ons-list-item class="day-item" modifier="tappable" ng-repat="imageItem in [images]">
                <div class="day-image"><img src="{{imageItem.url}}" /></div>
                <div class="day-caption day-location">Location: {{imageItem.location}}</div>
                <div class="day-caption day-time">Time: {{imageItem.time}}</div>
                <div class="day-caption day-color">Color: {{imageItem.color}}</div>
            </ons-list-item>
        </ons-list>
    </div>

</ons-page>