.calendar-cell {
    width: 12%;
    text-align: center;
    display: table-cell;
}

.calendar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.calendar-image {
    height: 50px;
    width: 40px;
    margin: 2px 1px;
}

.calendar-row {
    display: table-row;
}

.calendar-date-overlay {
    font-size: 1.5rem;
    font-weight: bold;
}

.hidden {
    display: none;
}

.day-item {
    margin: 10px;
}

.day-image {
    max-width: 300px;
    max-height: 400px;
}

.day-image img {
    max-height: 480px;
}

.day-caption {
    margin-left: 10px;
}
